#today
{
 font-size: 2.2em;
 color: green;
}

#yesterday
{
 font-size: 1.2em;
 color: blue;
}

#tomorrow
{
 font-size: 1.2em;
 color: brown;
}
#present
{
    font-size: 1.2em;
    color: aquamarine;
}
#root
{
    background-color:darkgoldenrod;
}
table, th, td{
    border: 3px ridge black;
}
